<ion-header>
  <ion-toolbar>
    <ion-title><span *ngIf="isUpdate">Update</span><span *ngIf="!isUpdate">Create</span> Venue</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form *ngIf="isLoaded" [formGroup]="performanceForm">
    <ion-list>
      <ion-list-header color="light">Performance Info</ion-list-header>
      <ion-item>
        <ion-label color="primary" position="floating">Artist</ion-label>
        <ion-select [compareWith]="compareArtist" formControlName="performanceArtistId" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let artist of artists.items" [value]="artist.id">{{ artist.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Venue</ion-label>
        <ion-select [compareWith]="compareVenue" formControlName="performanceVenueId" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let venue of venues.items" [value]="venue.id">{{ venue.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>When</ion-label>
        <ion-datetime formControlName="when" displayFormat="MMMM DD h:mm a" value="2012-12-15T13:47:20.789"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
  <pre>
    {{ performanceForm.value | json }}
  </pre>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="dismiss()">
    Save
  </ion-button>
</ion-footer>