<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Artists</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="signedIn" (click)="signOut()">Sign Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Artists</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-card *ngIf="signedIn">
    <ion-card-content>
    </ion-card-content>
  </ion-card> -->

  <ion-list>
    <ion-grid>
      <ion-row *ngIf="artists.items.length">
        <ion-col *ngFor="let artist of artists.items" size="12" size-sm="6" size-md="6" size-lg="4" size-xl="3">
          <ion-card [routerLink]="'/tabs/artists/' + artist.id">
            <ion-img [src]="artist.image"></ion-img>
              <ion-item lines="none">
                <ion-label>
                  <h4 style="color: var(--ion-color-dark)">{{ artist.name }}</h4>
                </ion-label>
              </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
