<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/artists"></ion-back-button>
    </ion-buttons>
    <ion-title>Artists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="artist">
  
    <div style="background: var(--ion-color-primary)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-img [src]="artist.image"></ion-img>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <div class="ion-padding" style="text-align: center;">
              <h1 class="artist-header">{{ artist.name }}</h1>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="artist.performances.items.length">
      <ion-list>
        <ion-list-header><ion-text color="secondary">Performances</ion-text></ion-list-header>
        <ion-item *ngFor="let performance of artist.performances.items">
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-label>
            <h3>{{ performance.when | date }}</h3>
            <p>{{ performance.venue.name }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="ion-padding">
      <ion-text color="secondary">
        <h1>About</h1>
      </ion-text>
      <div [innerHTML]="artist.description | trustAsHtml"></div></div>
    <!-- <pre>
      {{ artist | json }}
    </pre> -->
  </div>
</ion-content>
