<ion-header>
  <ion-toolbar>
    <ion-title>Artists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="artist">
  
    <div style="background: var(--ion-color-secondary)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img [src]="artist.image"></ion-img>
          </ion-col>
          <ion-col>
            <div class="ion-padding">
              <h1>{{ artist.name }}</h1>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="artist.performances.items.length">
      <h2>Performances</h2>
      <ion-list>
        <ion-item *ngFor="let performance of artist.performances.items">
          <ion-label>
            <h3>{{ performance.when | date }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="ion-padding">
    <p>{{ artist.description }}</p>
    </div>
    <pre>
      {{ artist | json }}
    </pre>
  </div>
</ion-content>
