<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="lock"></ion-icon> Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div style="position: relative;">
      <h1 class="page-header">Performances</h1>
      <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
        <ion-fab-button (click)="createOrUpdatePerformance()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <ion-list>
      <ion-item *ngFor="let performance of performances.items" (click)="createOrUpdatePerformance(performance)">
        <ion-label>
          <h1>{{ performance.artist.name }}</h1>
          <h2>{{ performance.venue.name }}</h2>
          <p>{{ performance.when | date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- <pre>
    {{ artists | json }}
  </pre> -->

</ion-content>
