/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/Lora-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format("truetype");
  font-weight: 400;
}


:root {
  --ion-font-family: 'IBM Plex Mono', monospace;

  .logo {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: var(--ion-color-primary);
    font-size: 6em;
  }

  ion-thumbnail {
    --border-radius: 7px;
    margin-right: 15px;
  }
  
  .raised-toast {
    top: -50px;
  }
  
  .split-pane-visible > .split-pane-side {
    max-width: 180px !important;
  }
  
  // ion-content { 
  //   --ion-background-color: var(--ion-color-light);
  // }

  // ion-toolbar {
  //   --background: var(--ion-color-light);
  // }
  
  // ion-card {
  //   --background: var(--ion-color-lightest);
  // }
}